<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaStR to GPX Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="eyes" href="{{ url_for('static', filename='eyes-blitz.png') }}">
</head>
<body>
    <div class="container">
        <div style="text-align: center;">
            <br>
            <img src="{{ url_for('static', filename='eyes-blitz.png') }}" alt="Eyes Blitz">
            <br>
        </div>
        <div style="text-align: center;">
            <h1>MaStR zu GPX Konverter</h1>
            <p>Umwandeln Marktstammdatenregister-Downloads (CSV-Dateien) zu GPX-Dateien für eine GPS App (Handy, PC, Online). 
                (<a href="https://github.com/fritzthekid/mastr-utils/blob/main/doc/dokumentation.md" target="_blank" rel="noopener noreferrer">Dokumentation)</a></p>
        </div>
        <form id="convert-form" action="/convert" method="post" enctype="multipart/form-data">
            <label for="mastr_file">Upload MaStR CSV File:</label>
            <input type="file" name="mastr_file" id="mastr_file" required><br>
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <label for="query">Query:</label>
            <span style="display:inline-block; width: 20px;"></span>
            <input type="text" name="query" id="query" placeholder="e.g., is_pv & BruttoleistungDerEinheit > 10000"><br>
            </div>
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <label for="color">Waypoint Color:</label>
            <span style="display:inline-block; width: 20px;"></span>
            <input type="text" name="color" id="color" value="Amber"><br>
            </div>
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="min_weight">Minimale Bruttoleistung, wenn unterschiedlich von 0 folgt flächiger Suche:</label>
                <span style="display:inline-block; width: 20px;"></span>
                <input type="number" name="min_weight" id="min_weight" value="0"><br>
            </div>
            <!-- div class="form-group" -->
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="radius">Radius: </label><span style="display:inline-block; width: 20px;"></span>
                <input type="number" name="radius" id="radius" value="2000" size="10"><br>
            </div>
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="output_file">Output File Name (optional):</label>
                <span style="display:inline-block; width: 20px;"></span>
                <input type="text" name="output_file" id="output_file" placeholder="e.g., custom_name.gpx"><br>
            </div>
            <button type="submit">Convert</button>
        </form>
        <div id="result"></div> <!-- Placeholder for the download button -->
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>