<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaStR to GPX Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="eyes" href="{{ url_for('static', filename='eyes-blitz.png') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script> <!-- For GPX support -->
</head>
<body>
    <div class="container">
        <div style="text-align: center;">
            <br>
            <img src="{{ url_for('static', filename='eyes-blitz.png') }}" alt="Eyes Blitz">
            <br>
        </div>
        <div style="text-align: center;">
            <h1>MaStR zu GPX Konverter</h1>
            <p>Umwandeln Marktstammdatenregister-Downloads (CSV-Dateien) zu GPX-Dateien für eine GPS App (Handy, PC, Online). 
                (<a href="https://github.com/fritzthekid/mastr-utils/blob/main/doc/dokumentation.md" target="_blank" rel="noopener noreferrer">Dokumentation)</a></p>
        </div>
        <form id="convert-form" action="/convert" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="mastr_file">Upload MaStR CSV File:</label>
                <input type="file" name="mastr_file" id="mastr_file" required>
            </div>

            <div class="form-group">
                <label for="query">Query:</label>
                <input type="text" name="query" id="query" placeholder="e.g., is_pv & BruttoleistungDerEinheit > 10000">
            </div>

            <div class="form-group">
                <label for="color">Waypoint Color:</label>
                <input type="text" name="color" id="color" value="Amber">
            </div>

            <div class="form-group">
                <label for="min_weight">Minimum Weight:</label>
                <input type="number" name="min_weight" id="min_weight" value="0">
            </div>

            <div class="form-group">
                <label for="radius">Radius:</label>
                <input type="number" name="radius" id="radius" value="2000">
            </div>

            <div class="form-group">
                <label for="output_file">Output File Name (optional):</label>
                <input type="text" name="output_file" id="output_file" placeholder="e.g., custom_name.gpx">
            </div>

            <button type="submit">Convert</button>
        </form>
        <div id="result"></div> <!-- Placeholder for the download button -->
        <div id="map" style="height: 500px; margin-top: 20px;"></div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>