<div class="topbanner" style="margin-bottom: 20px;"> 
<center>
<img src="{{ url_for('static', filename='eyes-blitz.png') }}" alt="Eyes Blitz" width="5%"><br>
<div class="topbanner">
  <table style="width:100%">
   <tr>
    <th>
      <form method="POST" action=".">
          <button name="home" id="buth">Home</button>
      </form>
    </th>
    <th>
      <form action="." method="GET">
          <button name="command" value="mastrtogpx" id="butm">MaStR-2-GPX</button>
      </form>
    </th>
    <th>
      <form action="." method="GET">
          <button name="command" value="mastrtoplot" id="butp">MaStR-2-PLOT</button>
      </form>
    </th>
    <th>
      <form method="POST" action=".">
          <button name="costs1" id="butB">Kosten Atomkraft</button>
      </form>
    </th>
    <th>
      <form method="POST" action=".">
          <button name="costs2" id="butn" >Kosten Energiewende</button>
      </form>
    </th>
    <th>
      <form method="POST" action=".">
          <button name="impressum" id="buti" >Kontakt</button>
      </form>
   </th>
  <th>
      {% if current_user.is_authenticated %}
        <div class="dropdown">
              <button class="dropbtn" type="submit" name="command" value="profil" style="background-color:rgb(229, 134, 134); color:rgb(15, 15, 15)">
                {{ current_user.id }}
              </button>
          <div class="dropdown-content">
              <form method="post"><button name="command" value="user">Profil</button></form>
              <!--form method="post"><button name="command" value="changepw">Passwort ändern</button></form-->
              <form method="post"><button name="command" value="logout">Logout</button></form>
          </div>
        </div>
      {% else %}
        <form method="POST" action="/">
          <button name="command" value="show_login" style="background-color: #dad6d6;color:#333;" 
          onmouseover="style='background-color:#555;color:#dad6d6;'"
          onmouseout="style='background-color:#dad6d6;color: #333'"
          >Login</button>
        </form>
        {% endif %}

    </th> 
  </tr>
 </table>
 </div>
</center>
</div> 
