<div class="topbanner" style="font-size: 10px; margin-top: 20px;">
  <center>
  <table style="width:100%">
   <tr>
    <th>
      <form method="POST">
          <button name="impressum" id="buthx" onclick="lformaction()">Impressum</button>
      </form>
    </th>
    <th>
      <form method="POST">
          <button name="dataprotection" id="butmx" onclick="lformaction()">Datenschutzerklärung</button>
      </form>
    </th>
    <!--th>
      <form method="POST">
          <button name="agb" id="butB" onclick="lformaction()">AGB</button>
      </form>
    </th-->
  </tr>
 </table>
 <script>
  function lformaction() {
  //  form.submit();
  }
  function formaction() {
  //  form.submit();
  }
 </script>
</center>
</div>
