<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kostenvergleich: Atomkraft vs. Erneuerbare</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="eyes" href="{{ url_for('static', filename='eyes-blitz.png') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script>
</head>
<body>
<div id="root" />
    {% include 'topbanner.html' %}
    <div class="inner-body" style="height:73%;">
        <h1>Impressum und Kontakt</h1>

    <h2>Angaben gemäß § 5 TMG</h2>
    <p>
      Eduard Moser<br>
      Ludwigsburg<br>
      <br>
      Deutschland
    </p>
    
    <p><strong>E-Mail:</strong> eduard.moser(_at_)gmx.de</p>
    
    <h2>Haftungsausschluss</h2>
    <p><strong>Haftung für Inhalte:</strong><br>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität kann jedoch keine Gewähr übernommen werden.
    </p>
    
    <p><strong>Haftung für Links:</strong><br>
    Externe Links führen zu Inhalten fremder Anbieter. Für diese Inhalte ist ausschließlich der jeweilige Anbieter verantwortlich.
    </p>
    
    <h2>Urheberrecht</h2>
    <p>
    Die durch den Seitenbetreiber erstellten Inhalte und Werke auf dieser Seite unterliegen dem deutschen Urheberrecht.
    Die <a href="https://github.com/fritzthekid/LICENSE">Lizenz</a> regeln die Details. 
    </p>
    <h2>Weitere Informationen</h2>
    <p>
      Dokumentation ist unter <a href="https:/github.com/fritzthekid/mastr-utils/doc/dokumentation.md">Dokumentation</a> 
      zu finden.
    </p>
</div>
{% include 'footer.html' %}
</body>
</html>
