<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaStR to GPX Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="eyes" href="{{ url_for('static', filename='eyes-blitz.png') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script> <!-- For GPX support -->
</head>
<body>
    <div id="root" />
    {% include 'topbanner.html' %}
    <div class="inner-body" style="height: 100%;">
        <h1>Das Marktstammdatenregister und die Energiewende</h1>

        Auf diesen Seiten sind verschiedene Aspekte der Energiewende dargestellt.
        
        Zunächst liefert das Marktstammdatenregister der Bundesnetzagentur eine 
        Liste aller Energieanlagen in Deutschland. Dort finden sich Kohle- und Gaskraftwerke,
        Atomkraftwerke, Wasserkraftwerke, Biogassanlagen, PV Anlagen, Windräder und so weiter.

        <div class="myform">
            <form class="mylink" method="POST">
                <button name="mastrutils" id="bax" onclick="lformaction()"><h2>Zur Visualisierung des Marktstammdatenregister (GPX)</h2></button>
            </form>    
        </div>
        <div class="myform">
            <form class="mylink" method="POST">
                <button name="mastrplot" id="bap" onclick="lformaction()"><h2>Zur Visulsierung des Marktstammdatenregister (Plots)</h2></button>
            </form>    
        </div>
        <div class="myform">
            <form class="mylink" method="POST">
                <button name="costs2" id="bab" onclick="lformaction()"><h2>Kosten der verschiedenen Energieanlagen im Vergleich</h2></button>
            </form>    
        </div>
        <div class="myform">
            <form class="mylink" method="POST">
                <button name="battery" id="bac" onclick="lformaction()"><h2>Batteriespeicher im Wandel</h2></button>
            </form>    
        </div>
                                    
    </div>

    {% include 'footer.html' %}
</body>
</html>