<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaStR to GPX Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="eyes" href="{{ url_for('static', filename='eyes-blitz.png') }}">
</head>
<body>
    <div id="root" />
    {% include 'topbanner.html' %}
    <!--div class="inner-body" style="height:73%"-->
    <div class="inner-body" style="height:73%">
<h2>Login</h2>
<form method="post">
    <input input type="hidden" name="command" value="login" />
    <table style="font-size: 1em; width:30%">
        <tr>
         <th>Benutzername:</th>
         <th><input name="username" style="font-size: 1em;" placeholder="Benutzername"></th>
        </tr>
        <tr>
         <th>Passwort:</th><th><input name="password" type="password" style="font-size: 1em;" placeholder="Passwort"></th>
        </tr>
    </table>
    <div style="flex:1;">
      <label for="privacy" style="flex: 1;">Ich stimme zu, dass meine hochgeladenen Daten für den Zweck und nur während der Session verwendet werden dürfen.</label><br>
      <input type="checkbox" id="privacy" name="privacy" required style="flex:1; align-items:left;">
    </div>

  <button type="submit">Login</button>
</form>
{% with messages = get_flashed_messages(category_filter=["message"]) %}
  {% if messages %}
    <ul class="flashes">
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    </div>
    {% include 'footer.html' %}

</body>
</html>
