<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaStR to GPX Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="eyes" href="{{ url_for('static', filename='eyes-blitz.png') }}">
</head>
<body>
    <div id="root" />
    {% include 'topbanner.html' %}
    <div class="container">

        <div style="text-align: center;">
            <h1>MaStR zu Plot Konverter</h1>
            <p>Umwandeln Marktstammdatenregister-Downloads (CSV-Dateien) zu Plot-Dateien (die Plots werden angezeigt
                und können runtergeladen werden). 
                (<a href="https://github.com/fritzthekid/mastr-utils/blob/main/doc/dokumentation.md" target="_blank" rel="noopener noreferrer">Dokumentation)</a></p>
        </div>
        <!-- Flex container for form and map -->
        <div class="form-map-container">
            <!-- Form Section -->
            <form id="plot-form" method="post" enctype="multipart/form-data">
                <!--div class="form-group">
                    <label for="pwd">Password:</label>
                    <div style="position: relative;">
                      <input type="password" id="pwd" name="pwd" style="padding-right: 30px;">
                      <span onclick="togglePassword()" style="
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        user-select: none;
                      ">👁️</span>
                    </div>
                  </div>
                  
                  <script>
                    function togglePassword() {
                      const pwd = document.getElementById("pwd");
                      pwd.type = pwd.type === "password" ? "text" : "password";
                    }
                  </script-->
                  

                <div class="form-group">
                    <label for="mastr_file">Upload MaStR Data File:</label>
                    <input type="file" name="mastr_file" id="mastr_file" required>
                </div>

                <div class="form-group">
                    <label for="quera">Query A:</label>
                    <input type="text" name="quera" id="quera" 
                            placeholder="e.g., ge_1mw & lt_10mw"
                            style="font-family: sans-serif;">
                </div>

                <div class="form-group">
                    <label for="querb">Query B:</label>
                    <input type="text" name="querb" id="querb" 
                            placeholder="e.g., ge_10mw & lt_100mw"
                            style="font-family: sans-serif;">
                </div>

                <div class="form-group">
                    <label for="querc">Query C:</label>
                    <input type="text" name="querc" id="querc" 
                            placeholder="e.g., ge_100mw"
                            style="font-family: sans-serif;">
                </div>

                <div class="form-group">
                    <label for="querd">Query D:</label>
                    <input type="text" name="querd" id="querd" 
                            placeholder=""
                            style="font-family: sans-serif;">
                </div>

                <div class="form-group">
                    <label for="quere">Query E:</label>
                    <input type="text" name="quere" id="quere" 
                            placeholder=""
                            style="font-family: sans-serif;">
                </div>

                <div class="form-group">
                    <label for="min_weight">Min. Bruttoleistung der Fläche [kW]:</label>
                    <input type="number" name="min_weight" id="min_weight" value="0">
                </div>

                <div class="form-group">
                    <label for="radius">Radius:</label>
                    <input type="number" name="radius" id="radius" value="2000">
                </div>

                <div class="form-group">
                    <label for="depends">Abhängig von:</label>
                    <input type="text" name="depends" id="depends" value="" placeholder="Bundesland">
                </div>

                <div class="form-group">
                        <label for="output_file">Output File Name (optional):</label>
                        <input type="text" name="output_file" id="output_file" placeholder="e.g., custom_name.svg">
                    </div>
                    <!-- Datenschutz Checkbox -->
                    <div class="form-group-light">
                        <label for="privacy">Ich stimme zu, dass meine hochgeladenen Daten zur Verarbeitung genutzt werden dürfen.</label>
                        <input type="checkbox" id="privacy" name="privacy" required>
                    </div>

                    <input type="hidden" id="opts_hidden" name="opts" value="">

                    <!--button type="submit" onclick="setOpt('gpx')">Generate gpx</button>
                    <button type="submit" onclick="setOpt('list-options')">Options</button>
                    <button type="submit" onclick="setOpt('characteristics')">Characteristics</button-->        
    
                    <!-- GPX-Erzeugen-Button -->
                    <button type="submit" onclick="setOpt('plot')">Generate Plot</button>
    
                    <!-- Dropdown für weitere Optionen -->
                    <div class="form-group dropdown-wrapper">
                    <button type="button" class="drophelp">Hilfe ▼</button>
                    <div class="dropdown-content">
                        <button style="background-color: #eeeeee; color:#333333" type="submit" onclick="setOpt('help_queries')">Zu Query's</button>
                        <button style="background-color: #eeeeee; color:#333333" type="submit" onclick="setOpt('characteristics')">Characteristics</button>
                        <button style="background-color: #eeeeee; color:#333333" type="submit" onclick="setOpt('list-options')">List Options</button>
                    </div>
                    </div>    

                    <!-- Result Section -->
                <div id="resultplot" style="margin-top: 20px;"></div>
            </form>


            <!-- Map Section -->
            <div id="map" onclick = "popoutimg()"; style="border: 1px solid #ccc; width: 100%; height: 600px; display: flex; align-items: center; justify-content: center;">
                <span style="color: #999;">Plot wird geladen ...</span>
              </div>
            <!--div id="plot" style="height: 500px; margin-top: 20px;"></div-->
        </div>

        <!-- Result Section -->

        {% if debug %}


        <div class="buttons-container">
            <form class="myform" method="POST">
                <button name="downloadlog" id="butdl" onclick="formaction()">Download Logs</button>
            </form>
        </div>

        {% endif %}

    </div>
    <script src="{{ url_for('static', filename='js/general.js') }}"></script>
    <script src="{{ url_for('static', filename='js/appplot.js') }}"></script>

    {% include 'footer.html' %}

</body>
</html>