<!--div style="background-color: #a29e9e;"-->
<div class="topbanner"> 
<center><div class="stypIsMonitor">
<!-- img src="/images/logo.png" alt="logo" class="stypIconWidth"> <br><br -->
<img src="{{ url_for('static', filename='eyes-blitz.png') }}" alt="Eyes Blitz"><br>
</div>
<div class="topbanner table">
 <table style="width:100%">
  <tr>
    <th><a href="/">Home</a></th>
    <th><a href="/">MaStR zu GPX Konverter</a></th>
    <th><a href="/energie_kostenvergleich">Energiekostenvergleich</a></th>
    <th><a href="/">nn</th>
    <th><a href="/impressum">Kontakt</th>
  </tr>
</table>
</div>
 </center>
<p><p>
</div>
  
