<div class="topbanner" style="margin-bottom: 20px;"> 
<center>
<img src="{{ url_for('static', filename='eyes-blitz.png') }}" alt="Eyes Blitz" width="5%"><br>
<div class="topbanner">
  <table style="width:100%">
   <tr>
    <th>
      <form method="POST">
          <button name="home" id="buth" onclick="formaction()">Home</button>
      </form>
    </th>
    <th>
      <form method="POST">
          <button name="mastrutils" id="butm" onclick="formaction()">MaStR-2-GPX</button>
      </form>
    </th>
    <th>
      <form method="POST">
          <button name="costs1" id="butB" onclick="formaction()">Kosten Atomkraft</button>
      </form>
    </th>
    <th>
      <form method="POST">
          <button name="costs2" id="butn" onclick="formaction()">Kosten Energiewende</button>
      </form>
    </th>
    <th>
      <form method="POST">
          <button name="impressum" id="buti" onclick="formaction()">Kontakt</button>
      </form>
   </th>
  </tr>
 </table>
 <script>
  formaction(){
    form.submit();
  }
 </script>
</div>
</center>
</div> 
