<!DOCTYPE html>
<html lang="en">
<title>Utils</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="eyes" href="{{ url_for('static', filename='eyes-blitz.png') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<head>
</head>
<body style="background-color: #ccc">
   <center>
   <h1 style="color: blue">This is the Homepage</h1>
   <h2 style="color: pink">second line</h2>
   <h3 style="color: green">green line</h3>
   <a href="mastrutils"><h1 style="background-color:#444; color:#ccf;">
                 Hier gehts zu Mastr-Utils</h1></a>
   </center>
</body>
</html>

