<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utils</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="eyes" href="{{ url_for('static', filename='eyes-blitz.png') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script> <!-- For GPX support -->
</head>
<body>
    <div id="root" />
<div class="topbanner" style="margin-bottom: 20px;"> 
<center>
<img src="{{ url_for('static', filename='eyes-blitz.png') }}" alt="Eyes Blitz" width="5%"><br>
<div class="topbanner">
  <table style="width:100%">
   <tr>
    <th>
      <form method="POST" action=".">
          <button name="home" id="buth">Home</button>
      </form>
    </th>
  </tr>
 </table>
 </div>
</center>
</div> 
    <div class="inner-body" style="height: 73%;">
        <h1>Das Marktstammdatenregister und die Energiewende</h1>

        Auf diesen Seiten sind verschiedene Aspekte der Energiewende dargestellt.
        
        Zunächst liefert das Marktstammdatenregister der Bundesnetzagentur eine 
        Liste aller Energieanlagen in Deutschland. Dort finden sich Kohle- und Gaskraftwerke,
        Atomkraftwerke, Wasserkraftwerke, Biogassanlagen, PV Anlagen, Windräder und so weiter.

        <p><p><p>

        <div style="margin:auto;width: 50%;border: 3px #444 green;padding: 20%; text-align: center;">
        <div class="myform">
            <form class="mylink" method="POST" action=".">
                <button name="command" value="mastrutils" id="bax"><h1>Zur Mastr-Utils App</h1></button>
            </form>
        </div>

        <div>
            Smardutils liefert eine Battery-Analyse zu verschiedenen Szenarien 
            und Nutzungsstrategien zum Abschätzen der Kosten. 
            <br>
            <bold>Hinweis: Diese Analyse verwendet ein einfaches Batteriemodell und gilt als Prototyp.
                Das Batteriemodell kann im Quellcode github.com/fritzthekid/smard-untils gefunden werden.
            </bold>
        </div>

        <div class="myform">
            <form class="mylink" method="POST" action=".">
                <button name="command" value="smardutils" id="bax"><h1>Zur Smard Utils App</h1></button>
            </form>
        </div>

    </div>
    </div>
<div class="topbanner" style="font-size: 10px; margin-top: 20px;">
  <center>
  <table style="width:100%">
   <tr>
    <th>
      <form method="POST">
          <button name="impressum" id="buthx" onclick="lformaction()">Impressum</button>
      </form>
    </th>
    <th>
      <form method="POST">
          <button name="dataprotection" id="butmx" onclick="lformaction()">Datenschutzerklärung</button>
      </form>
    </th>
  </tr>
 </table>
 <script>
  function lformaction() {
  //  form.submit();
  }
  function formaction() {
  //  form.submit();
  }
 </script>
</center>
</div>

</body>
</html>
